.userCommentDiv{
    display: flex;
    img{
        border-radius: 9px;
        padding: 6px;
        display: inline-block;
    }
    .userEmail, .userMsg{
        padding-left: 12px;
    }
    .userEmail{
        font-weight: bold;
        font-size: 16px;
        margin-top: 8px;
    }
    .userMsg{
        font-size: 15px;
        margin-top: 5px;
        
    }
}